.aboutBody {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.button1 {
    padding: 2%;
    background-color: gray;
    border: none;
    display: inline-block;
    text-align: center;
    color: white;
}

.button1:hover {
    background-color: rgb(68, 68, 68);
}
